{% extends 'base.html.twig' %}

{% block title %}Nouvel Evenevement{% endblock %}

{% block body %}
    <div class="mt-5 container-xl container-lg container-fluid">
        <h1 class="text-center mt-3 mb-4">Créer un nouvel événement</h1>
        <div class="border-gold p-4">
            {{ include('event/_form.html.twig') }}
        </div>
        <div class="flex d-flex justify-content-around">
            <a class="btn btn-dark m-5" href="{{ path('event_index') }}"><i class="far fa-arrow-alt-circle-left"></i> Liste de vos événements</a>
        </div>
    </div>
{% endblock %}
