{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}
{{ form_start(form) }}
    {{ form_widget(form) }}

<div class="flex d-flex justify-content-around">
    <button class="flex d-flex flex-column btn btn-gold mb-4">
        <i class="far fa-envelope mailIcon align-self-center"></i>
        {{ button_label|default('Valider') }}
    </button>
</div>
{{ form_end(form) }}
