{% block reasonCreator %}
    <div class="background-reason">
        <div class="row reasons">
            <h2 class="m-5 homepageTitle"> Devenir créateur</h2>
        </div>
        <div class="row reasons m-5">
            <div class="col-12 col-md-6 col-lg-3 text-reasons">
                <img class="icons-reasons" src="{{ asset('build/icons_clock.png') }}" alt="Icone">
                <p class="col-md-12 reasons">
                    Gagner du temps dans l’organisation de vos ventes privées.
                </p>
            </div>
            <div class="col-12 col-md-6 col-lg-3 text-reasons">
                <img class="icons-reasons" src="{{ asset('build/icons_book.png') }}" alt="Icone">
                <p class="col-md-12 reasons">
                    Bénéficier du 1er annuaire d’ambassadeurs et accéder à leur profil.
                </p>
            </div>
            <div class="col-12 col-md-6 col-lg-3 text-reasons">
                <img class="icons-reasons" src="{{ asset('build/icons_contact.png') }}" alt="Icone">
                <p class="col-md-12 reasons">
                    Prendre contact en un clic avec vos ambassadeurs.
                </p>
            </div>
            <div class="col-12 col-md-6 col-lg-3 text-reasons">
                <img class="icons-reasons" src="{{ asset('build/icons_brand.png') }}" alt="Icone">
                <p class="col-md-12 reasons">
                    Profiter d’un nouvel espace pour communiquer sur votre marque.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
