{% block reasonAmbassador %}
<div class="background-reason">
    <div class="row reasons">
        <h2 class="m-5 homepageTitle"> Devenir ambassadeur</h2>
    </div>
    <div class="row reasons m-5">
        <div class="col-12 col-md-6 col-lg-3 text-reasons">
            <img class="icons-reasons" src="{{ asset('build/icons_social.png') }}" alt="Icone">
            <p class="col-md-12 reasons">
                Faire partie d’une communauté qui vous soutient sur son groupe privé.
            </p>
        </div>
        <div class="col-12 col-md-6 col-lg-3 text-reasons">
            <img class="icons-reasons" src="{{ asset('build/icons_gift.png') }}" alt="Icone">
            <p class="col-md-12 reasons">
                Recevoir des cadeaux de vos créateurs favoris ou vous constituer un complément de revenu à
                la
                hauteur de vos attentes.
            </p>
        </div>
        <div class="col-12 col-md-6 col-lg-3 text-reasons">
            <img class="icons-reasons" src="{{ asset('build/icons_first.png') }}" alt="Icone">
            <p class="col-md-12 reasons">
                Bénéficier en avant-première de leurs produits pour vos ventes privées.
            </p>
        </div>
        <div class="col-12 col-md-6 col-lg-3 text-reasons">
            <img class="icons-reasons" src="{{ asset('build/icons_heart.png') }}" alt="Icone">
            <p class="col-md-12 reasons">
                Connaître de nouveaux créateurs.
            </p>
        </div>
    </div>
</div>
{% endblock %}
