{% block reasonAmbassador %}
<div class="background-reason">
    <h2 class="m-5 homepageTitle text-center"> Devenir ambassadeur</h2>
    <div class="row reasons m-5">
        <div class="col-12 col-md-6 col-lg-3 d-flex flex-column">
            <img class="icons-reasons align-self-center" src="{{ asset('build/icons_social.png') }}" alt="Icone">
            <p class="col-md-12 text-center">
                Faire partie d’une communauté qui vous soutient sur son groupe privé.
            </p>
        </div>
        <div class="col-12 col-md-6 col-lg-3 d-flex flex-column">
            <img class="icons-reasons align-self-center" src="{{ asset('build/icons_gift.png') }}" alt="Icone">
            <p class="col-md-12 text-center">
                Recevoir des cadeaux de vos créateurs favoris ou vous constituer un complément de revenu à la
                hauteur de vos attentes.
            </p>
        </div>
        <div class="col-12 col-md-6 col-lg-3 d-flex flex-column">
            <img class="icons-reasons align-self-center" src="{{ asset('build/icons_first.png') }}" alt="Icone">
            <p class="col-md-12 text-center">
                Bénéficier en avant-première de leurs produits pour vos ventes privées.
            </p>
        </div>
        <div class="col-12 col-md-6 col-lg-3 d-flex flex-column">
            <img class="icons-reasons align-self-center" src="{{ asset('build/icons_heart.png') }}" alt="Icone">
            <p class="col-md-12 text-center">
                Connaître de nouveaux créateurs.
            </p>
        </div>
    </div>
</div>
{% endblock %}
