{% block search %}
    <div class="searchBg w-100 h-50 my-5 carousel">
        <div class="searchImage align-self-center">
            <img class="w-100 filterImage" src="{{ asset('build/Homepage_Search.jpg') }}"
                 alt="Ambassadeurs de créateurs">
        </div>
        <div class="carousel-caption mb-5">
            <h2 class="text-center p-3">Je recherche</h2>
            <div class="d-flex justify-content-around">

                <div class="buttonRole d-flex flex-column align-items-center">
                    <h3 class="mt-3 mb-3 text-center d-none d-md-block">Un ambassadeur pour un créateur</h3>
                    <a class="btn btn-gold mb-4" href="{{ path('search_role', {'role': 'ambassadeur', 'page': 1}) }}">Ambassadeurs</a>

                </div>
                <div class="buttonRole d-flex flex-column align-items-center">
                    <h3 class="mt-3 mb-3 text-center d-none d-md-block">Une marque, un style</h3>
                    <a class="btn btn-gold mb-4"
                       href="{{ path('search_role', {'role': 'createur', 'page': 1}) }}">Créateurs</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}