{% extends '/layout.html.twig' %}

{% block body %}
    <div class="ambassador m-5">
        <h1 class="m-5 show"> Nos Ambassadeurs</h1>
        <div class="container-fluid card-ambassador">
            {% for ambassador in ambassadors %}
            <div class="card mb-5">
                <div class="row no-gutters">
                    <div class="col-md-1 col-sm-12 mt-2" >
                        <i class="fas fa-star"></i>
                        <p>100</p>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="card-body">
                            <h5 class="card-title">{{ambassador.firstname}}</h5>
                            <p class="card-text">J'habite dans le {{ambassador.department.name}}</p>
                            <p class="card-text"><small class="text-muted">Je suis un {{ambassador.roles}}</small></p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <img src="https://images.unsplash.com/photo-1575330933415-cea1e7ce53eb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQi
                        OjEyMDd9&auto=format&fit=crop&w=634&q=80" class="card-img" alt="Image">
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
