{% extends '/layout.html.twig' %}

{% block body %}
    <div class="container-fluid card-ambassador">
        <h1> Nos Ambassadeurs</h1>
        <div class="card mb-3">
            <div class="row no-gutters" style=" justify-content: space-between">
                <div class="col-md-1 col-sm-12 mt-2" style=" align-self: start; ">
                    <i class="fas fa-star">100</i>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="card-body">
                        <h5 class="card-title">Prénom</h5>
                        <p class="card-text">J'habite dans le Rhône</p>
                        <p class="card-text"><small class="text-muted">Je suis un ambassadeur hôte</small></p>
                    </div>
                </div>
                <div class="col-md-4" style="align-self: end">
                    <img src="https://images.unsplash.com/photo-1575330933415-cea1e7ce53eb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQi
                    OjEyMDd9&auto=format&fit=crop&w=634&q=80" class="card-img" alt="Image">
                </div>
            </div>
        </div>

        <div class="card mb-3">
            <div class="row no-gutters" style=" flex-direction: row-reverse; justify-content: space-between">
                <div class="col-md-2 col-sm-12 mt-2" style=" align-self: start;">
                    <i class="fas fa-star">100</i>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="card-body">
                        <h5 class="card-title">Prénom</h5>
                        <p class="card-text">J'habite dans le Rhône</p>
                        <p class="card-text"><small class="text-muted">Je suis un ambassadeur hôte</small></p>
                    </div>
                </div>
                <div class="col-md-4" style="align-self: end">
                    <img src="https://images.unsplash.com/photo-1575330933415-cea1e7ce53eb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQi
                    OjEyMDd9&auto=format&fit=crop&w=634&q=80" class="card-img" alt="Image">
                </div>
            </div>
        </div>

        <div class="card mb-3">
            <div class="row no-gutters" style=" justify-content: space-between">
                <div class="col-md-1 col-sm-12 mt-2" style=" align-self: start; ">
                    <i class="fas fa-star">100</i>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="card-body">
                        <h5 class="card-title">Prénom</h5>
                        <p class="card-text">J'habite dans le Rhône</p>
                        <p class="card-text"><small class="text-muted">Je suis un ambassadeur hôte</small></p>
                    </div>
                </div>
                <div class="col-md-4" style="align-self: end">
                    <img src="https://images.unsplash.com/photo-1575330933415-cea1e7ce53eb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQi
                    OjEyMDd9&auto=format&fit=crop&w=634&q=80" class="card-img" alt="Image">
                </div>
            </div>
        </div>

    </div>

{% endblock %}
