{% extends '/layout.html.twig' %}

{% block body %}

    <div class="mt-5 mb-5">
        <fieldset class="mt-5 container-xl container-lg container-fluid border-gold">
            <h2 class="text-center p-3">Se désinscrire de la lettre d'information : </h2>
            {{ include('home/_form_newsletter.html.twig')}}
        </fieldset>
    </div>

{% endblock %}
