<form method="post" action="{{ path('admin_question_delete', {'id': question.id}) }}"
      onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cette question ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ question.id) }}">
    <button class="btn btn-dark m-5"><i class="far fa-times-circle"></i>Supprimer</button>
</form>
