{% extends 'layout.html.twig' %}

{% block title %}Edit Brand{% endblock %}

{% block body %}
    <div class="mt-5 container-xl container-lg container-fluid">
        <h1 class="text-center mt-3 mb-4">Modifier votre marque</h1>
        <div class="border-gold p-4">
            {{ include('brand/_form.html.twig', {'button_label': 'Enregistrer'}) }}
        </div>
        <div class="row justify-content-between">
            <div class="col col-lg-4">
                <a class="btn btn-dark m-5" href="{{ path('app_profile') }}">
                    <i class="far fa-arrow-alt-circle-left"></i> Retour
                </a>
            </div>
        </div>
        {{ include('brand/_delete_form.html.twig') }}

    </div>
{% endblock %}
