{% extends 'layout_admin.html.twig' %}

{% block title %}Étiquettes{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center m-5">Les étiquettes des articles</h1>

        <table class="table">
            <thead>
            <tr>
                <th>Tag</th>
                <th class="col-lg-1">actions</th>
            </tr>
            </thead>
            <tbody>
            {% for article_tag in article_tags %}
                <tr>
                    <td>{{ article_tag.tag }}</td>
                    <td>
                        <a href="{{ path('admin_article_tag_edit', {'id': article_tag.id}) }}" class="btn btn-gold"><i class="fas fa-pencil-alt mr-2"></i>Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">Aucune étiquette trouvée</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('admin_article_tag_new') }}" class="btn btn-gold">Créer une étiquette</a>
    </div>
{% endblock %}
