{% extends 'base.html.twig' %}

{% block title %}New ArticleTag{% endblock %}

{% block body %}
    <h1>Create new ArticleTag</h1>

    {{ include('article_tag/_form.html.twig') }}

    <a href="{{ path('article_tag_index') }}">back to list</a>
{% endblock %}
