<!-- Footer -->
<footer class="page-footer font-small mdb-color pt-4">

    <div class="container text-center text-md-left">

        <div class="row text-center text-md-left mt-3 pb-3">

            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <a class="logo-footer" href="/"><img src="{{ asset('build/ADC_logo_transparent.png') }}" alt="logo" class="logo-footer"></a>
            </div>

            <hr class="w-100 clearfix d-md-none">

            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">À propos</h6>
                <div>
                    <a class="footer-link" href="#!">Notre concept</a>
                </div>
                <div>
                    <a class="footer-link" href="#!">Abonnement</a>
                </div>
            </div>

            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">Service clients</h6>
                <div>
                    <a class="footer-link" href="#!">CGV</a>
                </div>
                <div>
                    <a class="footer-link" href="#!">Mentions légales</a>
                </div>
                <div>
                    <a class="footer-link" href="#!">FAQ</a>
                </div>
            </div>

            <hr class="w-100 clearfix d-md-none">

            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">Contactez nous</h6>
                <div>
                    <a class="footer-link" href="">lmco.paris15@gmail.com</a>
                </div>
                <!-- Social buttons -->
                <ul>
                    <li class="list-inline-item">
                        <a class="fb-ic" href="https://www.facebook.com/lmcoparis/">
                            <i class="fab fa-facebook-square"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="inst-ic" href="https://www.instagram.com/lmco_paris/">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                </ul>
                <!-- Social buttons -->
            </div>
        </div>
    </div>

</footer>
<!-- Footer -->
