{% extends 'layout_admin.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center m-5">Les univers</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Description</th>
                <th class="col-lg-2">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td><a href="{{ path('admin_category_show', {'id': category.id}) }}" class="titleForm">{{ category.description }}</a></td>
                <td>
                    <a href="{{ path('admin_category_edit', {'id': category.id}) }}" class="btn btn-gold"><i class="fas fa-pencil-alt mr-2"></i>Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucune catégorie trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_category_new') }}" class="btn btn-gold">Créer un univers</a>
</div>
{% endblock %}
