
.btn-gold {
    color: $third-color;
    background-color: $primary-color;
}

.border-gold {
    border: 1px solid $primary-color ;
}
.titleForm {
    text-decoration: none;
    color : $primary-color;
}
a.titleForm:hover {
    color : $secondary-color;
    text-decoration: none;
}

