.descriptionBloc
{
    border: 1px solid $primary-color;
    border-radius: 1em;
}

.btn-dark
{
    background-color: black;
}

a
{
    transition: .25s all;
}

.card-event
{
    @include BoxShadowHelper(1);
    transition: .25s box-shadow;

    &:focus,

    &:hover {@include BoxShadowHelper(2);}
}

.card-inverse .card-img-overlay
{
    background-color: $transparency;
    border-color: $transparency;
}

.card-title.event
{
    color : $primary-color;
}

.card-text.event
{
    color : $third-color;
}

.text-muted.event
{
    color : $background-secondary;
}

.img-profil {
    width: 20rem;
}

.img-profil-creator {
    width: 80%;
}

.img-fluid{
    height: 400px;
}

.vich-image a img {
    margin-top: 1rem;
    height: 50vh;
    width: 100%;
    object-fit: cover;
}


.leftPanel {
    box-sizing: border-box;
    box-shadow: 0 0 3px 2px $background-primary;
    background-color: $third-color;
}

.profilPagePicture {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
}

.profilIcon {
    font-size: $font-size-icon;
    color: $secondary-color;
    width: 35px;
    height: 35px;

    &hover {
        color: $primary-color;
        text-decoration: none;
    }
}

.iconSite {
    width: 35px;
    height: 35px;
}

.blockQuote {
    width:80%;
    margin:50px auto;
    padding:1.2rem 1rem 1.2rem 4rem;
    border-left:8px solid $primary-color;
    position: relative;
    background: $third-color;

    p {
        text-indent: 1rem;
    }
}

.carousel-item div img{
    height: 400px;
    object-fit: cover;
    border: 1px solid $primary-color
}

#carouselExampleIndicators {
    margin-bottom: 2rem;
}

.carousel-indicators {
    margin-bottom: -40px;
    filter: invert(100%);
}

.carousel-control-prev, .carousel-control-next {
    filter: invert(100%);
    top: calc(100% + 30px);
}

@media screen and (max-width: 768px) {

    .carousel-item div img{
        height: 300px;
        object-fit: cover;
        border: 1px solid $primary-color
    }
}
