.descriptionBloc
{
    border: 1px solid $primary-color;
    border-radius: 1em;
}

.btn-dark
{
    background-color: black;
}

a
{
    transition: .25s all;
}

.card
{
    @include BoxShadowHelper(1);
    transition: .25s box-shadow;

    &:focus,

    &:hover {@include BoxShadowHelper(2);}
}

.card-inverse .card-img-overlay
{
    background-color: $transparency;
    border-color: $transparency;
}

.card-title.event
{
    color : $primary-color;
}

.card-text.event
{
    color : $third-color;
}

.text-muted.event
{
    color : $background-secondary;
}
