.btn-link {
    margin-top: 50px;
    position: absolute;
}

.btnCardSearch {
    font-size: 1rem;
}

.cardSearch {
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: $third-color;
    background-clip: border-box;
    border: 1px solid
    rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    min-height: 300px;

    &:hover {
        transition: all 0.2s ease-out;
        box-shadow: 0px 1px 4px 1px rgba(38, 38, 38, 0.2);
        top: -4px;
        border: 1px solid #cccccc;
        background-color: $third-color;
    }
}


.star_search {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: $primary-color;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;       /* Remove default arrow */
    background-image: url('https://image.flaticon.com/icons/png/512/25/25224.png');   /* Add custom arrow */
    background-size: 10px 15px;
    background-repeat: no-repeat;
    background-position: 95%;
}

.form-control {
    border: 1px solid $third-color;
}

.btn-link:hover {
    color: $primary-color;
    text-decoration: none;
}

.btn-inactive {
    background-color: $background-primary;
    color: $third-color;

    &:hover{
        cursor: default;
    }
}

.avatarSearch {
    margin-top: -6rem;
    margin-bottom: 1rem;
    max-width: 9rem;
    min-height: 9rem;

    &:hover {
        transition: all 0.2s ease-out;
        box-shadow: 0px 1px 4px 1px rgba(38, 38, 38, 0.2);
        top: -4px;
        border: 1px solid #cccccc;
        background-color: $third-color;
    }
}

.form-search {
    border: 1px solid $primary-color;
}



