.btn-link {
    margin-top: 50px;
    position: absolute;
}

.btnCardSearch {
    font-size: 1rem;
}

.cardSearch {
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: $third-color;
    background-clip: border-box;
    border: 1px solid
    rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    min-height: 300px;

    &:hover {
        transition: all 0.2s ease-out;
        box-shadow: 0px 1px 4px 1px rgba(38, 38, 38, 0.2);
        top: -4px;
        border: 1px solid #cccccc;
        background-color: $third-color;
    }
}


.star_search {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: $primary-color;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;       /* Remove default arrow */
    background-image: url('https://image.flaticon.com/icons/png/512/25/25224.png');   /* Add custom arrow */
    background-size: 10px 15px;
    background-repeat: no-repeat;
    background-position: 95%;
}

.form-control {
    border: 1px solid $third-color;
}

.btn-link:hover {
    color: $primary-color;
    text-decoration: none;
}

.btn-inactive {
    background-color: $background-primary;
    color: $third-color;

    &:hover{
        cursor: default;
    }
}

.avatarSearch {
    margin-top: -6rem;
    margin-bottom: 1rem;
    max-width: 9rem;
    min-height: 9rem;

    &:hover {
        transition: all 0.2s ease-out;
        box-shadow: 0px 1px 4px 1px rgba(38, 38, 38, 0.2);
        top: -4px;
        border: 1px solid #cccccc;
        background-color: $third-color;
    }
}

.form-search {
    border: 1px solid $primary-color;
}

.card-search {
    padding: 30px 0 60px;
    margin-bottom: 30px;
    background-color: $third-color;
    text-align: center;
    overflow: hidden;
    position: relative;
    height: 90%;
}

.card-search .picture {
    display: inline-block;
    height: 130px;
    width: 130px;
    margin-bottom: 50px;
    z-index: 1;
    position: relative;
}

.card-search .picture::before {
    content: "";
    width: 100%;
    height: 0;
    border-radius: 50%;
    background-color: $primary-color;
    position: absolute;
    bottom: 135%;
    right: 0;
    left: 0;
    opacity: 0.9;
    transform: scale(2.5);
    transition: all 0.3s linear 0s;
}

.card-search:hover .picture::before {
    height: 100%;
}

.card-search .picture::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.card-search .picture img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
    background-color: $third-color;
}

.card-search:hover .picture img {
    box-shadow: 0 0 0 14px $background-secondary;
    transform: scale(0.7);
}

.card-search .btn-discover {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: $primary-color;
    position: absolute;
    bottom: -100px;
    left: 0;
    transition: all 0.5s ease 0s;
}

.card-search:hover .btn-discover {
    bottom: 0;
}

.card-search .btn-discover li {
    display: inline-block;
}

.card-search .btn-discover li a {
    display: block;
    padding: 10px;
    font-size: 17px;
    color: white;
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

.card-search .btn-discover li a:hover {
    color: $primary-color;
    background-color: $third-color;
}

.card-search {
    --card-width-search:220px;
    --card-margin-search:0;
    width : var(--card-width-search);
    margin: var(--card-margin-search);
}

.card-search .picture::before {
    --card-scale-search:2.6;
    transform: scale(var(--card-scale-search));
}

@media screen and (max-width: 1200px) and (min-width: 950px) {
    --card-width-search:200px;
    --card-margin-search:0;
    --card-scale-search:2.4;
}

@media screen and (max-width: 950px) and (min-width: 770px) {
    --card-width-search:300px;
    --card-margin-search:-30px;
    --card-scale-search:2.8;
}
