$primary-color: #B08C3E;
$secondary-color: #000000;
$third-color: #FFFFFF;
$transparency : rgba(#333,.85);
$background-primary: #D3D7CF;
$background-secondary : #F6F6F6;
$navbar-border-color:#d3d3d3;
$font-body: adobe-devanagari-regular;
$font-title: 'Lato', sans-serif;
$font-size-title: 3.5rem;
$font-size-second-title: 2.5rem;
$font-size-body: 1.2rem;
$font-size-icon: 2.5rem;

@font-face {
    font-family: adobe-devanagari-regular;
    src: url("../font/adobe-devanagari.otf");
}
