$primary-color: #B08C3E;
$secondary-color: #000000;
$third-color: #FFFFFF;
$navbar-border-color:#d3d3d3;
$font-body: adobe-devanagari-regular;
$font-title: AsmelinaHarley;
$font-size-title: 3rem;
$font-size-body: 1.2rem;
$font-size-icon: 2.5rem;


@font-face {
    font-family: adobe-devanagari-regular;
    src: url("../font/adobe-devanagari.otf");
    font-family: AsmelinaHarley;
    src: url("../font/AsmelinaHarley.ttf");
}
