@import "vars";
@import "~bootstrap/scss/bootstrap";


body {
    background-color: $third-color;
}

a {
    color: $primary-color;
}

.btn-gold {
    color: $primary-color;
    border-color: $primary-color;
}

.border-gold {
    border: 1px solid $primary-color ;
}
