@import "~bootstrap/scss/bootstrap";
@import "vars";
@import "form";
@import "style_navbar";

* {
    font-family: $font-body;
}

h1 {
    font-family: $font-title;
    font-size: $font-size-title;
    color: $primary-color;
}
