@import "~bootstrap/scss/bootstrap";
@import "vars";
@import "form";
@import "style_navbar";
@import "home";
@import "profil_user";
@import "style_footer";
@import "search";
@import "blog";
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';


* {
    font-family: $font-body;
}

h1 {
    font-family: $font-title;
    font-size: $font-size-title;
    color: $primary-color;
    margin: 30px;
}

h2 {
    font-size: $font-size-second-title;
    font-family: $font-title;
    color: $primary-color;
    margin: 10px;
}

h3 {
    font-size: 1.5rem;
}

.primary-color {
    color: $primary-color;
}

.text-handscript {
    font-family: $font-title;
}

body {
    background-color: $background-secondary;
}
