.profile-card-5 .btn {
    font-size: 12px;
    padding: 7px 20px;
    border-radius: 0;
}


.textdate {
    font-size: 11px;
}

.card {
    border-radius: 0;
    border: 0;
}

.profile-card-5 h5 {
    color: $primary-color;
}

.profile-card-5 {
    font-size: 14px;
    font-weight: 300;
}

.profile-card-5 .btn-primary {
    background-color: $primary-color;
    border-color: $primary-color;
}

h5.card-title {
    font-size: 16pt;
    min-height: 50px;
    padding-top: 10px;
}

.card-block {
    position: relative;
    margin: -50px 20px 20px;
}


.firstblog {
    margin: 50px -50px 80px -50px;
}

.card-img-block-top {
    margin: 50px 0 80px;
}

.firstSentence {
    font-style: italic;
}

h3.card-title {
    color: $primary-color;
}

.oneArticle {
    padding-left: 50px;
}

.badge-gold {
    background-color: $primary-color;
    color: $third-color;
}
