h2.homepageTitle
{
    font-size: $font-size-icon;

    &:before{
        content:'';
        display:inline-block;
        vertical-align: middle;
        width: 1.5rem;
        height: 2px;
        background: $primary-color;
        margin-right: 1rem;
    }

    &:after{
        content:'';
        display:inline-block;
        vertical-align: middle;
        width: 1.5rem;
        height: 2px;
        background: $primary-color;
        margin-left: 1rem;
    }
}

// CAROUSEL

.filterImage {
    opacity: 0.8;
    margin-top: -15vw;
}

div.carousel-caption {
    color: $secondary-color;
}

.carousel-image {
    height: calc(100vh - 100px);
    overflow:hidden
}

//MAP

.map-containeur
{
    overflow: hidden;
}

.mapTabs {
    width: 80vw;
}

#map {
    width: 100%;
    height: calc(100vh - 45px);
}

.popupTitle {
    color: $primary-color;
}

.popupText {
    font-size: $font-size-body;
}

.popup div img {
    height: 250px;
    object-fit: cover;
}

a.fb-ic-card {
    font-size: $font-size-icon;
    color: $secondary-color;
}

a.fb-ic-card:hover {
    color: lighten($primary-color, 20%);
    text-decoration: none;
}

a#ambassadors.btn-gold.active, a#events.btn-gold.active {
    color: $primary-color;
    background-color: $third-color;
    border: $primary-color 1px solid;
}

//RECHERCHE

div.searchBg {
    width: 100%;

    .searchImage
    {
        overflow: hidden;
        height: 50vh;

        img{
            opacity: 0.5;
        }
    }
}

div.buttonRole {
    margin-bottom: 20px;
    opacity: 1;
}

div.buttonRole a.btn {
    font-size: 1.5rem;
    font-family: $font-title;

    &:hover {
        background-color: lighten($primary-color, 5);

    }
}

h2.searchTitle
{
    text-shadow: $third-color 0 0 5px;
}

//CARD

.btnCardSearch {
    font-size: 1rem;
}

.cardSearch {
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: $third-color;
    background-clip: border-box;
    border: 1px solid
    rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    min-height: 300px;

    &:hover {
        transition: all 0.2s ease-out;
        box-shadow: 0px 1px 4px 1px rgba(38, 38, 38, 0.2);
        top: -4px;
        border: 1px solid #cccccc;
        background-color: $third-color;
    }
}

.cardProfil {
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: $third-color;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    min-height: 300px;
    margin-top: 50px;

    .card-body{
        background-color: $third-color;
    }
}


.star {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: $primary-color;
}

.avatarSearch {
    margin-top: -6rem;
    margin-bottom: 1rem;
    max-width: 9rem;
    min-height: 9rem;
    background-color: $third-color;

    &:hover {
        transition: all 0.2s ease-out;
        box-shadow: 0px 1px 4px 1px rgba(38, 38, 38, 0.2);
        top: -4px;
        border: 1px solid #cccccc;
        background-color: $third-color;
    }
}

.avatarProfil {
    margin-top: -6rem;
    margin-bottom: 1rem;
    max-width: 9rem;
    min-height: 9rem;
    background-color: $third-color;
}


.btn-link {
    margin-top: 50px;
    position: absolute;
}

.btnCardSearch {
    font-size: 1rem;
}

div.ambassador {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: darken($background-secondary, 5%);
    overflow-x: hidden;

    .mt-5.show {
        align-self: center;
    }
}

div.container-fluid.card-ambassador {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
}

div.row.no-gutters {
    justify-content: space-between;
}

div.col-md-1.col-sm-12.mt-2 {
    display: flex;
    flex-direction: row;
    color: $primary-color;
}

div.card.mb-5.col-md-5.col-sm-12 {
    width: 200px;
    border: $primary-color 2px solid;

    div.card-border {
        height: 100%;
        margin: 5px;
        border: $primary-color 1px solid;
    }
}

div.background-reason {
    background-color: $third-color;
}

div.d-flex.flex-column.mt-5.mapTabs.align-self-center {
    width: 100%;
}

div.row.reasons {
    display: flex;
    justify-content: center;

    .text-reasons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .icons-reasons {
            width: 64px;
        }

        .col-md-12.reasons {
            text-align: center;
        }
    }
}

.star_home {
    color: $primary-color;
}

.mailIcon {
    font-size: $font-size-icon;
    color: $third-color;
}

.mailIcon:hover {
    color: $secondary-color;
}

button.flex.d-flex.flex-column.btn.btn-gold.mb-4 {
    font-size: $font-size-body;
}

button.flex.d-flex.flex-column.btn.btn-gold.mb-4:hover {
    color: $secondary-color;
}

.containerNewsletter {
    position: relative;
    text-align: center;
    width: 100vw;

    .card:hover {
        box-shadow: none;
    }
}

.imgNewsletter {
    width: 100%;
    opacity: 0.6;
    padding: 0;
    margin-left: 15px;
    transform: scaleX(-1);
    margin-top: -200px;
}

.cardNewsletter {
    position: absolute;
    padding: 20px;
    width: 50%;
    bottom: 10%;
    right: 5%;

    div {
        text-align: right;
    }

    input {
        border-bottom: 1px solid $primary-color;
    }

}

.unsubscribeNewsletterBloc .form-group {
    text-align: left;
    margin: 0 2rem;

    input {
        border-bottom: 1px solid $primary-color;
    }

}

@media screen and (min-width: 1000px) {

    div.card.mb-5 {
        height: 232px;
    }

    img.card-img {
        height: 230px;
    }
}

@media screen and (max-width: 768px) {

    .carousel-image {
        height: auto;
    }

    div.carousel-caption {
        bottom: 0;
        padding: 0;
    }

    div h1.homeTitle {
        display: block;
        font-size: $font-size-second-title;
        margin: 0;
        height: 0;
        margin-bottom: 50px;
    }

    .filterImage {
        opacity: 0.6;
    }

    .mapTabs {
        width: 100vw;
    }

    #map {
        width: 100vw;
        height: 90vh;
    }

    .cardNewsletter {
        position: relative;
        padding: 10px;
        width: 100vw;
        left: 15px;
        right: 0;

        div {
            text-align: center;
            margin-top: 30px;
        }
    }

    .homepageTitle {
        text-align: center;
    }

    div.row.no-gutters {
        display: flex;
        justify-content: center;
    }

    .searchImage {
        height: auto;
        margin-bottom: 6rem;
    }
}

/**card-home-ambassador**/

.card-home {
    padding: 30px 0 60px;
    margin-bottom: 30px;
    background-color: $third-color;
    text-align: center;
    overflow: hidden;
    position: relative;
    height: 90%;
}

.card-home .picture {
    display: inline-block;
    height: 130px;
    width: 130px;
    margin-bottom: 50px;
    z-index: 1;
    position: relative;
}

.card-home .picture::before {
    content: "";
    width: 100%;
    height: 0;
    border-radius: 50%;
    background-color: $primary-color;
    position: absolute;
    bottom: 135%;
    right: 0;
    left: 0;
    opacity: 0.9;
    transform: scale(3);
    transition: all 0.3s linear 0s;
}

.card-home:hover .picture::before {
    height: 100%;
}

.card-home .picture::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.card-home .picture img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
}

.card-home:hover .picture img {
    box-shadow: 0 0 0 14px $background-secondary;
    transform: scale(0.7);
}

.card-home .btn-discover {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: $primary-color;
    position: absolute;
    bottom: -100px;
    left: 0;
    transition: all 0.5s ease 0s;
}

.card-home:hover .btn-discover {
    bottom: 0;
}

.card-home .btn-discover li {
    display: inline-block;
}

.card-home .btn-discover li a {
    display: block;
    padding: 10px;
    font-size: 17px;
    color: white;
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

.card-home .btn-discover li a:hover {
    color: $primary-color;
    background-color: $third-color;
}

/**card-home-creator**/

.card-home-creator {
    padding: 30px 0 60px;
    margin-bottom: 30px;
    background-color: $third-color;
    text-align: center;
    overflow: hidden;
    position: relative;
    height: 90%;
}

.card-home-creator .picture {
    display: inline-block;
    height: 130px;
    width: 130px;
    margin-bottom: 50px;
    z-index: 1;
    position: relative;
}

.card-home-creator .picture::before {
    content: "";
    width: 100%;
    height: 0;
    border-radius: 50%;
    background-color: $primary-color;
    position: absolute;
    bottom: 135%;
    right: 0;
    left: 0;
    opacity: 0.9;
    transform: scale(3.4);
    transition: all 0.3s linear 0s;
}

.card-home-creator:hover .picture::before {
    height: 100%;
}

.card-home-creator .picture::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.card-home-creator .picture img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
}

.card-home-creator:hover .picture img {
    box-shadow: 0 0 0 14px $background-secondary;
    transform: scale(0.7);
}

.card-home-creator .btn-discover {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: $primary-color;
    position: absolute;
    bottom: -100px;
    left: 0;
    transition: all 0.5s ease 0s;
}

.card-home-creator:hover .btn-discover {
    bottom: 0;
}

.card-home-creator .btn-discover li {
    display: inline-block;
}

.card-home-creator .btn-discover li a {
    display: block;
    padding: 10px;
    font-size: 17px;
    color: white;
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

.card-home-creator .btn-discover li a:hover {
    color: $primary-color;
    background-color: $third-color;
}