div.ambassador {
    display: flex;
    flex-direction: column;
    align-items: center;

    .mt-5.show {
        align-self: center;
    }
}


div.container-fluid.card-ambassador {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;

    .card.mb-5:nth-of-type(even) {
        .row.no-gutters {
            flex-direction: row-reverse;
            justify-content: space-between;

            .col-md-1.col-sm-12.mt-2 {
                flex-direction: row-reverse;
            }
        }
    }
}

div.row.no-gutters {
    justify-content: space-between;
}

div.col-md-1.col-sm-12.mt-2 {
    display: flex;
    flex-direction: row;
    color: $primary-color;
}

div.card.mb-5 {
    border: $primary-color solid 1px;
}

div.card-body {
    text-align: center;
    margin: 0;
}

h5.card-title {
    font-size: 20pt;
}

p.card-text {
    font-size: 16pt;
}

svg.svg-inline--fa.fa-star.fa-w-18 {
    font-size: 15pt;
}

@media screen and (min-width: 1000px) {

    div.card.mb-5 {
        height: 232px;
        border: $primary-color solid 1px;
    }

    img.card-img {
        height: 230px;
    }
}

#mapid {
    height: 60vh;
}
