.filterImage {
    opacity: 0.8;
    height: 85vh;
}

div.carousel-caption {
    color: $secondary-color;
}

div.searchBg {
    background-color: white;
}

div.buttonRole {
    width: 40vw;
    margin-bottom: 20px;
}

div.buttonRole a.btn {
    font-size: 1.5rem;
    font-family: $font-title;

    &:hover {
        background-color: lighten($primary-color, 5);

    }
}

div.ambassador {
    display: flex;
    flex-direction: column;
    align-items: center;

    .mt-5.show {
        align-self: center;
    }
}

div.container-fluid.card-ambassador {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;

    .card.mb-5:nth-of-type(even) {
        .row.no-gutters {
            flex-direction: row-reverse;
            justify-content: space-between;

            .col-md-1.col-sm-12.mt-2 {
                flex-direction: row-reverse;
            }
        }
    }
}

div.row.no-gutters {
    justify-content: space-between;
}

div.col-md-1.col-sm-12.mt-2 {
    display: flex;
    flex-direction: row;
    color: $primary-color;
}

div.card.mb-5 {
    border: $primary-color solid 1px;
}

div.card-body {
    text-align: center;
    margin: 0;
}

h5.card-title {
    font-size: 20pt;
}

p.card-text {
    font-size: 16pt;
}

svg.svg-inline--fa.fa-star.fa-w-18 {
    font-size: 15pt;
}

.mapTabs {
    width: 80vw;
}

.nav-link {
    color: $secondary-color;
    font-size: $font-size-nav;
}

#map {
    width: 80vw;
    height: 90vh;
}

.popupTitle {
    color: $primary-color;
}

.popupText {
    font-size: $font-size-body;
}

a.fb-ic-card {
    font-size: $font-size-icon;
    color: $secondary-color;
}

a.fb-ic-card:hover, .nav-link:hover {
    color: $primary-color;
    text-decoration: none;
}

a#ambassadors.nav-link, a#events.nav-link {
    border-color: $background-primary;
    border-bottom: none;
}

a#ambassadors.nav-link.active, a#events.nav-link.active {
    color: $primary-color;
    border-color: $secondary-color;
    background-color: darken($third-color, 10%);
}

div.row.reasons {
    display: flex;
    justify-content: center;

    .col-3.text-reasons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .icons-reasons {
            width: 64px;
        }

        .col-md-12.reasons  {
            text-align: center;
        }
    }
}

@media screen and (min-width: 1000px) {

    div.card.mb-5 {
        height: 232px;
        border: $primary-color solid 1px;
    }

    img.card-img {
        height: 230px;
    }
}

@media screen and (max-width: 768px) {

    div.carousel-caption {
        bottom: 0px;
    }

    div h1.homeTitle {
        display: block;
        font-size: $font-size-second-title;
        margin: 0;
    }

    .filterImage {
        opacity: 0.6;
    }

    .mapTabs {
        width: 100vw;
    }

    #map {
        width: 100vw;
        height: 90vh;
    }
}
