/****Navbar_admin****/
.navbar_admin {
    height: 100%;
    min-height: 100vh;
    background-color: $third-color;
    overflow-y: auto;
}

.navbar_admin_logo {
    display: flex;
    justify-content: center;
}

.nav_admin_picture {
    display: flex;
    justify-content: center;
}

.picture_admin {
    display: contents;
}

.nav-title {
    list-style-type: none;
}

/*******/