/****Footer****/

.footer-link {
    font-family: $font-body;
    color: $secondary-color;
    font-size: $font-size-body;
}

.footer-link:hover {
    color: $primary-color;
    text-decoration: none;
}

h6 {
    font-family: $font-body;
    font-size: $font-size-body;
}

.fb-ic, .inst-ic {
    font-size: $font-size-icon;
    color: $secondary-color;
    margin-right: 30px;
}

.fb-ic:hover, .inst-ic:hover {
    color: $primary-color;
    text-decoration: none;
}

.page-footer {
    box-shadow: 0px -10px 10px $navbar-border-color;
}

.logo-footer {
    height: 120px;
}
