.card-block-color {
    background-color: $primary-color;
    height: 7em;

    p {
        color: $third-color;
        text-align: center;
        padding-top: 20px;
        font-family: $font-title;
        font-size: 1.7rem;
    }
}