{% extends 'layout.html.twig' %}

{% block title %}Notre concept - Ambassadeur{% endblock %}

{% block body %}
    <div class="container-fluid pt-1 mb-5">
        <h1 class="text-center mt-5">HÔTES (ambassadeur)</h1>
        <div class="row justify-content-center m-0">
            <div class="col-md-9 col-sm-12 mt-3 mb-3">
                <h2 class="text-center">Le BABA d'une vente privée à domicile</h2>
            </div>
            <div class="col-md-9 col-sm-12 mt-5 mb-5">
                <p class="text-center">Comment, une vente privée à domicile, mais je ne sais pas comment faire !!</p>
            </div>
            <div class="col-md-9 col-sm-12">
                <h3 class="concept-title text-justify mb-3">1 - Je l’organise où ?</h3>
                <p class="text-justify">Tu l’organises chez toi, oui oui !</p>
                <p class="text-justify mb-4">Tu ranges ton salon, ta salle à manger, ton bureau, enfin le lieu
                    dans lequel tu recevras tes amies, les amies de tes amies et les amies, des amies de tes amies
                    etc.. et puis tu installes les réalisations de la ou des créatrices que tu reçois.</p>
                <h3 class="concept-title text-justify mb-3">2 - Les amies, les amies de mes amies et les amies des amies de mes
                    amies…</h3>
                <p class="text-justify mb-4">Non, tu ne connais pas personne… ! Si tu travailles, si tu as des enfants,
                    si tu fais du sport, si si et re-si, tu connais déjà au moins 20 personnes qui peuvent venir chez toi
                    et le tour est joué !</p>
                <h3 class="concept-title text-justify mb-3">3 - Mais ma vente je la fais quand ?</h3>
                <p class="text-justify mb-4">Tu la fais quand tu veux, en fonction de toi et des jours pendant lesquels
                    tu seras disponible.
                    Par expérience, le mardi associé au mercredi matin est une bonne journée. Après tu fais comme tu
                    veux !</p>
                <h3 class="concept-title text-justify mb-3">4 - J’ai rangé ma maison, j’ai choisi mes jours de vente et du coup quels
                    sont les horaires que je propose ?</h3>
                <p class="text-justify mb-4">Encore une fois tu fais comme tu le souhaites et ce qui t'arrange. Si tu
                    peux proposer une plage horaire assez large c’est bien, mais fais au mieux !
                    La bonne idée c’est aussi de faire une soirée apéro ! Tu ouvres une bonne bouteille (l’abus d’alcool
                    est dangereux pour la santé !) vous passez une bonne soirée ensemble tout en admirant les créations
                    que tu présentes.</p>
                <h3 class="concept-title text-justify mb-3">5 - Bonne nouvelle, je suis partante ! Juste une question… je gagne quoi
                    ?</h3>
                <p class="text-justify mb-4">Tu gagnes la joie d’avoir fait découvrir à ton entourage tes dernières
                    trouvailles, une gratification en bon d’achat chez la ou les créatrices que tu as reçues, leur
                    reconnaissance et les remerciements de ton réseau.</p>
            </div>
            <div class="col-md-9 col-sm-12 mt-5 mb-5">
                <p class="text-center">C’est bon tu signes ?</p>
                <p class="text-center">Si ce n’est pas déjà fait, nous t’invitons à rejoindre notre groupe <a
                            href="https://www.facebook.com/ambassadeursdecreateurs" target="_blank"><span class="concept-link">Facebook</span>
                    </a> et à poster ton annonce pour organiser ta prochaine vente privée à domicile.</p>
            </div>
        </div>
        <div class="row justify-content-center m-0">
            <div class="col-md-9 col-sm-12 text-center mt-5 mb-5">
                <a class="mr-5 mb-5" href="{{ path('app_concept') }}">
                    <button type="button" class="btn btn-gold col-lg-3 col-md-1">Retour au concept</button>
                </a>
                <a class="ml-5 mb-5" href="{{ path('concept_creator') }}">
                    <button type="button" class="btn btn-gold">CREATEUR : le BABA de la vente privée à domicile</button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
