{% extends 'layout.html.twig' %}

{% block title %}Notre concept{% endblock %}

{% block body %}
    <div class="container-fluid pt-1 mb-5">
        <h1 class="text-center m-5">Notre concept</h1>
        <div class="row justify-content-center m-0">
            <div class="col-md-9 col-sm-12 mt-3 mb-3">
                <h2 class="text-center">Les 5 clés d’une bonne relation créateur/hôte</h2>
            </div>
            <div class="col-md-9 col-sm-12 mt-5 mb-5">
                <p class="text-center">Trouver des hôtes désireux de représenter votre marque est une
                    chose, les fidéliser en est une autre.</p>
                <p class="text-center">Voici quelques astuces pour entretenir de bonnes relations.</p>
            </div>
            <div class="col-md-9 col-sm-12">
                <p class="text-justify mb-4">1 - Les bons outils de communication vous lui donnerez : si vous voulez que
                    votre
                    hôte communique bien,
                    n’hésitez pas à lui donner un modèle d’invitation internet, papier ou tout ce que vous voulez.
                    Au minimum de belles photos! Mettez vous bien d’accord si oui ou non vous communiquez tous les deux
                    à votre réseau sur la vente.</p>
                <p class="text-justify mb-4">2 - Vos cartons vous enverrez à temps : une bonne semaine avant la vente
                    est
                    l’idéal. Vous lui laissez ainsi le temps de s’approprier vos créations et de réfléchir à la façon
                    dont il souhaite aménager son intérieur.</p>
                <p class="text-justify mb-4">3 - Organisez vous, vous montrerez : un carton sans aucune explication
                    n’est pas
                    une
                    bonne idée. Simplifiez lui la tâche pour que le service qu’il vous rend soit agréable. Avec
                    Ambassadeurs de Créateurs on a créé des outils pour vous permettre une organisation efficace.
                    N’hésitez pas à nous contacter sur la page “contact” si vous souhaitez plus d’informations.</p>
                <p class="text-justify mb-4">4 - Justement vous la gratifierez : il n’a pas de salaire mais une
                    gratification
                    en
                    bon
                    d’achat entre 15 et 20% du chiffre d’affaire qu’il aura réalisé ne semble pas scandaleux.</p>
                <p class="text-justify mb-4">5 - Ecoute et respect seront vos maîtres mots : encore une fois il ne faut
                    pas
                    oublier que l’hôte est là principalement pour vous rendre service. Il peut vous arriver de ne pas
                    être d’accord sur la façon d’organiser la vente. Dans ce cas, soit vous arrivez à trouver une
                    solution qui vous conviennent tous les deux, soit il est peut-être préférable que vous trouviez un
                    autre hôte. Pour le bon déroulement des ventes, il vaut mieux que le créateur et l’hôte
                    entretiennent de bon rapport.</p>
            </div>
        </div>
        <div class="row justify-content-center m-0">
            <div class="col-md-9 col-sm-12 text-center mt-5 mb-5">
                <a class="mr-5 mb-5" href="{{ path('concept_creator') }}">
                    <button type="button" class="btn btn-gold">CREATEUR : le BABA de la vente privée à domicile</button>
                </a>
                <a class="ml-5 mb-5" href="{{ path('concept_ambassador') }}">
                    <button type="button" class="btn btn-gold">HÔTES : le BABA d'une vente privée à domicile</button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
