{{ form_start(form) }}
<div class="row">
    <div class="col-6 col-xl-3">
        <h5>Départements :</h5>
        {{ form_row(form.department) }}
    </div>
    <div class="col-6 col-xl-3">
            <h5>Univers:</h5>
            {{ form_row(form.category) }}
        </div>
</div>
    <button type="submit" class="btn btn-gold">Filtrer</button>
{{ form_end(form) }}