<form class="flex d-flex justify-content-center" method="post" action="{{ path('gallery_delete', {'id': gallery.id}) }}"
      onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cette photo ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ gallery.id) }}">
    <button class="btn btn-dark m-3"><i class="far fa-times-circle"></i> Supprimer</button>
</form>
