{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}
{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="flex d-flex justify-content-around">
        <button class="btn btn-gold">{{ button_label|default('Enregistrer') }}</button>
    </div>
{{ form_end(form) }}
