<form method="post" action="{{ path('blog_delete', {'id': blog.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cet article ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ blog.id) }}">
    <button class="btn btn-dark m-5"><i class="far fa-times-circle"></i> Supprimer</button>
</form>

