<div class="d-inline"><h2 class="mt-5">Menu de navigation</h2></div>
<div class="accordion" id="accordionExample">
    {#--section utilisateurs--#}
    <div class="card">
        <div class="card-header admin" id="headingThree">
            <h3 class="mb-0">
                <button class="btn  collapsed admin w-100 text-left flex d-flex justify-content-between"
                        type="button" data-toggle="collapse"
                        data-target="#collapseThree"
                        aria-expanded="true" aria-controls="collapseThree">Section Utilisateurs
                    <i class="fas fa-caret-down"></i>
                </button>
            </h3>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body text-left">
                <p>Cette partie liste les utilisateurs inscrits sur votre site</p>
                <p>Vous pouvez avoir un aperçu du profil d'un utilisateur en cliquant sur le bouton <span
                            class="btn btn-gold"><i class="far fa-eye mr-2"></i>Aperçu</span>
                    ou supprimer son compte en cliquant sur le bouton <span class="btn btn-dark"><i
                                class="far fa-times-circle"></i> Supprimer</span>.</p>
                <p>Pour supprimer un utilisateur s'il a un évènement, il faut cliquer sur la date de l'évènement, ce qui ouvrira une page dédiée
                    à celle-ci, ensuite, il faut supprimer l'évènement lié à l'utilisateur avec le bouton
                    <span class="btn btn-dark"><i class="far fa-times-circle"></i> Supprimer</span>.</p>
                <p>Il faut ensuite retourner sur la section <span
                            class="nav-effect"><strong>UTILISATEURS</strong></span> à l'aide du menu de navigation, et cliquer sur le
                    bouton
                    <span class="btn btn-dark"><i class="far fa-times-circle"></i> Supprimer</span> de l'utilisateur.</p>
                <p>La gestion d'un profil utilisateur reste à l'initiative de celui-ci sur l'onglet <span
                            class="nav-effect"><strong>PROFIL</strong></span> du site internet lors de la connexion.
                </p>
            </div>
        </div>
    </div>
    {#--section univers--#}
    <div class="card">
        <div class="card-header admin" id="headingFour">
            <h3 class="mb-0">
                <button class="btn collapsed admin w-100 text-left flex d-flex justify-content-between"
                        type="button" data-toggle="collapse"
                        data-target="#collapseFour"
                        aria-expanded="true" aria-controls="collapseFour">Section Univers
                    <i class="fas fa-caret-down"></i>
                </button>
            </h3>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
            <div class="card-body text-left">
                <p>Cette partie liste les univers disponibles sur le site</p>
                <p>Vous pouvez créer un univers en cliquant sur le bouton <span class="btn btn-gold">Créer</span>.</p>
                <p>Vous pouvez le modifier avec le bouton <span class="btn btn-gold"><i
                                class="fas fa-pencil-alt mr-2"></i>Modifier</span>.</p>
                <p>Vous pouvez le supprimer à l'aide du bouton <span class="btn btn-dark"><i
                                class="far fa-times-circle"></i> Supprimer</span>.</p>
            </div>
        </div>
    </div>
    {#--section marques--#}
    <div class="card">
        <div class="card-header admin" id="headingFive">
            <h3 class="mb-0">
                <button class="btn collapsed admin w-100 text-left flex d-flex justify-content-between"
                        type="button" data-toggle="collapse"
                        data-target="#collapseFive"
                        aria-expanded="true" aria-controls="collapseFive">Section Marques
                    <i class="fas fa-caret-down"></i>
                </button>
            </h3>
        </div>
        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
            <div class="card-body text-left">
                <p>Cette partie liste les marques appartenant aux créateurs.</p>
                <p>Vous pouvez avoir un aperçu de la marque en cliquant sur le bouton <span
                            class="btn btn-gold"><i class="far fa-eye mr-2"></i>Aperçu</span>.</p>
                <p>Pour supprimer une marque lié à un évènement, il faut cliquer sur la date de l'évènement, ce qui ouvrira une page dédiée
                    à celle-ci, ensuite, il faut supprimer l'évènement lié à la marque avec le bouton
                    <span class="btn btn-dark"><i class="far fa-times-circle"></i> Supprimer</span>.</p>
                <p>Il faut ensuite retourner sur la section <span
                            class="nav-effect"><strong>MARQUES</strong></span> à l'aide du menu de navigation, et cliquer sur le
                    bouton
                    <span class="btn btn-dark"><i class="far fa-times-circle"></i> Supprimer</span> de la marque.</p>
                <p>La gestion d'un profil créateur et de sa marque reste à l'initiative de celui-ci sur l'onglet
                    <span
                            class="nav-effect"><strong>PROFIL</strong></span> du site internet lors de la
                    connexion.
                </p>
                <p>C'est à vous de gérer l'affichage des marques que vous souhaitez mettre en avant sur la page
                    d'accueil.</p>
            </div>
        </div>
    </div>
    {#--section news--#}
    <div class="card">
        <div class="card-header admin" id="headingSix">
            <h3 class="mb-0">
                <button class="btn collapsed admin w-100 text-left flex d-flex justify-content-between"
                        type="button" data-toggle="collapse"
                        data-target="#collapseSix"
                        aria-expanded="true" aria-controls="collapseSix">Section News
                    <i class="fas fa-caret-down"></i>
                </button>
            </h3>
        </div>
        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
            <div class="card-body text-left">
                <p>Cette partie liste les articles disponibles sur le site.</p>
                <p>Vous pouvez avoir un aperçu des détails de chaque article en cliquant sur le bouton <span
                            class="btn btn-gold"><i class="far fa-eye mr-2"></i>Aperçu</span>.</p>
                <p>Vous pouvez créer un article avec le bouton <span class="btn btn-gold">Créer</span>.</p>
                <p>Vous pouvez modifier un article avec le bouton <span class="btn btn-gold"><i
                                class="fas fa-pencil-alt mr-2"></i>Modifier</span>.</p>
                <p>Vous pouvez supprimer un article avec le bouton <span class="btn btn-dark"><i
                                class="far fa-times-circle"></i> Supprimer</span>.</p>
                <p>Le dernier article créé sera mis en avant sur la première page de l'onglet <span
                            class="nav-effect"><strong>NEWS</strong></span> du site.
                </p>
            </div>
        </div>
    </div>
    {#--section étiquettes--#}
    <div class="card">
        <div class="card-header admin" id="headingSeven">
            <h3 class="mb-0">
                <button class="btn collapsed admin w-100 text-left flex d-flex justify-content-between"
                        type="button" data-toggle="collapse"
                        data-target="#collapseSeven"
                        aria-expanded="true" aria-controls="collapseSeven">Section Étiquettes
                    <i class="fas fa-caret-down"></i>
                </button>
            </h3>
        </div>
        <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven"
             data-parent="#accordionExample">
            <div class="card-body text-left">
                <p>Cette partie liste les étiquettes disponibles sur le site</p>
                <p>Vous pouvez créer une étiquette en cliquant sur le bouton <span class="btn btn-gold">Créer</span>.</p>
                <p>Vous pouvez la modifier avec le bouton <span class="btn btn-gold"><i
                                class="fas fa-pencil-alt mr-2"></i>Modifier</span>.</p>
                <p>Vous pouvez la supprimer à l'aide du bouton <span class="btn btn-dark"><i
                                class="far fa-times-circle"></i> Supprimer</span>.</p>
                <p>La modification ou la suppression d'une étiquette supprimera la ou les articles
                    correspondants à cette dernière.</p>
            </div>
        </div>
    </div>
    {#--section évènements--#}
    <div class="card">
        <div class="card-header admin" id="headingEigth">
            <h3 class="mb-0">
                <button class="btn collapsed admin w-100 text-left flex d-flex justify-content-between"
                        type="button" data-toggle="collapse"
                        data-target="#collapseEigth"
                        aria-expanded="true" aria-controls="collapseEigth">Section Évènements
                    <i class="fas fa-caret-down"></i>
                </button>
            </h3>
        </div>
        <div id="collapseEigth" class="collapse" aria-labelledby="headingEigth"
             data-parent="#accordionExample">
            <div class="card-body text-left">
                <p>Cette partie liste les évènements associés à un ambassadeur.</p>
                <p>Vous avez la possibilité de supprimer les évènements avec le bouton <span class="btn btn-dark"><i
                                class="far fa-times-circle"></i> Supprimer</span>.</p>
                <p>La gestion de l'évènement reste à l'initiative de l'ambassadeur sur l'onglet
                    <span
                            class="nav-effect"><strong>PROFIL</strong></span> du site internet lors de la
                    connexion.</p>
            </div>
        </div>
    </div>
    {#--section abonnements--#}
    <div class="card">
        <div class="card-header admin" id="headingNine">
            <h3 class="mb-0">
                <button class="btn collapsed admin w-100 text-left flex d-flex justify-content-between"
                        type="button" data-toggle="collapse"
                        data-target="#collapseNine"
                        aria-expanded="true" aria-controls="collapseNine">Section Abonnements
                    <i class="fas fa-caret-down"></i>
                </button>
            </h3>
        </div>
        <div id="collapseNine" class="collapse" aria-labelledby="headingNine"
             data-parent="#accordionExample">
            <div class="card-body text-left">
                <p>Cette partie liste les abonnements disponibles sur la page Abonnement du site.</p>
                <p>Vous avez la possibilité de modifier les tarifs des abonnements avec le bouton <span class="btn btn-gold"><i
                                class="fas fa-pencil-alt mr-2"></i>Modifier</span>.</p>
            </div>
        </div>
    </div>
    {#--section faq--#}
    <div class="card">
        <div class="card-header admin" id="headingTen">
            <h3 class="mb-0">
                <button class="btn collapsed admin w-100 text-left flex d-flex justify-content-between"
                        type="button" data-toggle="collapse"
                        data-target="#collapseTen"
                        aria-expanded="true" aria-controls="collapseTen">Section FAQ
                    <i class="fas fa-caret-down"></i>
                </button>
            </h3>
        </div>
        <div id="collapseTen" class="collapse" aria-labelledby="headingTen"
             data-parent="#accordionExample">
            <div class="card-body text-left">
                <p>Cette partie liste les questions et réponses correspondants à la page FAQ du site.</p>
                <p>Vous pouvez créer une question et ajouter la réponse en cliquant sur le bouton <span class="btn btn-gold">Créer</span>.</p>
                <p>Vous pouvez les modifier avec le bouton <span class="btn btn-gold"><i
                                class="fas fa-pencil-alt mr-2"></i>Modifier</span>.</p>
                <p>Vous pouvez les supprimer à l'aide du bouton <span class="btn btn-dark"><i
                                class="far fa-times-circle"></i> Supprimer</span>.</p>
            </div>
        </div>
    </div>
</div>