{% extends 'layout.html.twig' %}

{% block title %}Notre concept{% endblock %}

{% block body %}
    <div class="container pt-1 mb-5">
        <h1 class="text-center m-5">Notre concept</h1>
        <div class="justify-content-center">
            <div class="mb-3">
                <h3 class="text-center primary-color my-4">Marre des magasins bondés ou des sites internets aseptisés,
                    nous vous proposons une nouvelle façon de consommer!</h3>
                <h3 class="text-center primary-color my-4">Marre de courir entre le métro, boulot, dodo,
                    nous vous invitons à une nouvelle façon de travailler!</h3>
                <h3 class="text-center primary-color my-4">Chercheur d’emploi, étudiant, maman à la maison,
                    nous vous offrons une nouvelle façon de compléter vos revenus!</h3>
            </div>

            <div class="text-center my-4">
                <a href="{{ path('user_new') }}" class="btn btn-gold my-5">Rejoignez notre communauté!</a>
            </div>

            <div>
                <p class="text-justify mb-4">Parce que notre génération est clairement plus nomade, qu’elle aspire à un
                    meilleur équilibre vie pro/vie perso et à une meilleure réalisation de soi : chez Ambassadeurs de
                    créateurs, nous faisons le pari de <strong>la Vente Privée à domicile.</strong>
                    Pas la vente à domicile de grand-maman, mais une activité pro et connectée avec des
                    <strong>ambassadeurs</strong> soucieux de promouvoir des artistes et artisans français!
                </p>

                <p class="text-justify mb-4">Que ce soit en accueillant leurs créations ou en les vendant, la vente
                    privée à domicile c’est une <strong>opportunité</strong> pour:
                </p>
                <p><i class="far fa-check-circle mr-3 primary-color"></i>
                    soutenir et représenter les créateurs français
                </p>
                <p><i class="far fa-check-circle mr-3 primary-color"></i>
                    travailler à son rythme, selon ses besoins financiers
                </p>
                <p><i class="far fa-check-circle mr-3 primary-color"></i>
                    faire de belles rencontres
                </p>
                <p><i class="far fa-check-circle mr-3 primary-color"></i>
                    gagner de nombreux cadeaux!
                </p>

                <div class="text-center my-4">
                    <a href="{{ path('user_new') }}" class="btn btn-gold my-5">Je m'inscris</a>
                </div>


            </div>
        </div>
    </div>
{% endblock %}
