{% extends 'layout.html.twig' %}

{% block title %}Notre concept{% endblock %}

{% block body %}
    <div class="container pt-1 mb-5">
        <h1 class="text-center m-5">Notre concept</h1>
        <h2 class="text-center m-5">La Domovente</h2>
        <div class="justify-content-center">
            <div class="mb-3">
                <h3 class="text-center primary-color my-4">Vous voudriez découvrir une offre personnalisée,
                    plus authentique, plus humaine, plus originale, autrement que coincée devant votre ordinateur
                    ou dans la queue de Monoprix’?
                </h3>
                <h3 class="text-center primary-color my-4">Vous avez envie d’entrer dans la modernité d’une économie
                    directe, de particulier à particulier, où vous pourriez partager vos créations ou contribuer à
                    l’essor de nouveaux talents ?
                </h3>
                <h3 class="text-center primary-color my-4">Vous êtes en recherche d’emploi, vous êtes étudiante,
                    mère au foyer, ou vous êtes tout simplement curieuse et dynamique, et vous vous dites que vous
                    pourriez compléter vos revenus en joignant l’utile à l’agréable ?
                </h3>
            </div>

            <div class="text-center my-4">
                <a href="{{ path('user_new') }}" class="btn btn-gold my-5">Rejoignez notre communauté!</a>
            </div>

            <div>
                <p class="text-justify mb-4">Parce que notre génération est plus nomade, qu’elle aspire à un meilleur
                    équilibre entre travail et vie perso et une vraie réalisation de soi,
                </p>
                <p class="text-justify mb-4">
                    Parce que notre société connectée est en train de faire changer de dimension la vente à domicile,
                </p>
                <p class="text-justify mb-4">
                    Parce que les consommateurs exigent plus de transparence,
                </p>
                <p class="text-justify mb-4">
                    Parce que les créateurs veulent rester libres dans leur art.
                </p>

                <p class="text-center mt-5">Chez Ambassadeurs de créateurs, nous faisons le pari de la
                </p>
                <p class="text-center mb-5">
                    <strong>Vente Privée à domicile nouvelle génération : la « domovente ».</strong>
                </p>
                <p class="text-justify mb-4"> Une activité pro et connectée avec des ambassadeurs soucieux de
                    promouvoir des artistes et artisans français!
                    Se lancer dans la domovente, c’est:
                </p>
                <p><i class="far fa-check-circle mr-3 primary-color"></i>
                    Soutenir et représenter les créateurs français
                </p>
                <p><i class="far fa-check-circle mr-3 primary-color"></i>
                    Etre son propre boss, travailler librement, à son rythme, avec souplesse
                </p>
                <p><i class="far fa-check-circle mr-3 primary-color"></i>
                    Choisir la formule la plus rentable pour développer un réseau qui boostera vos créations et offrira
                    une gamme infinie d’opportunités pour exposer ou vendre.
                </p>
                <p><i class="far fa-check-circle mr-3 primary-color"></i>
                    Faire des rencontres incroyables et limiter les intermédiaires entre le créateur et le consommateur.
                </p>
                <p><i class="far fa-check-circle mr-3 primary-color"></i>
                    et aussi…gagner de nombreux cadeaux !
                </p>
            </div>
        </div>
    </div>
{% endblock %}
