{% extends 'layout.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block body %}
    <div class="container-fluid pt-1 mb-5">
        <h1 class="text-center m-5">Mentions légales</h1>
        <div class="row justify-content-center m-0">
            <div class="col-md-9 col-sm-12 mt-3 mb-3">
                <h2 class="text-center">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet</h2>
            </div>
            <div class="col-md-9 col-sm-12 mt-5 mb-5">
                <p class="text-center">Procedente igitur mox tempore cum adventicium nihil inveniretur, relicta ora
                    maritima</p>
            </div>
            <div class="col-md-9 col-sm-12">
                <p class="text-justify mb-4">Procedente igitur mox tempore cum adventicium nihil inveniretur, relicta
                    ora maritima in Lycaoniam adnexam Isauriae se contulerunt ibique densis intersaepientes itinera
                    praetenturis provincialium et viatorum opibus pascebantur.</p>
                <p class="text-justify mb-4">Hac ita persuasione reducti intra moenia bellatores obseratis undique
                    portarum aditibus, propugnaculis insistebant et pinnis, congesta undique saxa telaque habentes in
                    promptu, ut si quis se proripuisset interius, multitudine missilium sterneretur et lapidum.</p>
                <p class="text-justify mb-4">Erat autem diritatis eius hoc quoque indicium nec obscurum nec latens, quod
                    ludicris cruentis delectabatur et in circo sex vel septem aliquotiens vetitis certaminibus pugilum
                    vicissim se concidentium perfusorumque sanguine specie ut lucratus ingentia laetabatur.</p>
                <p class="text-justify mb-4">Procedente igitur mox tempore cum adventicium nihil inveniretur, relicta
                    ora maritima in Lycaoniam adnexam Isauriae se contulerunt ibique densis intersaepientes itinera
                    praetenturis provincialium et viatorum opibus pascebantur.</p>
            </div>
        </div>
    </div>
{% endblock %}
