<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Ambassadeurs de créateurs{% endblock %}</title>
    {% block stylesheets %}
        <script src="https://kit.fontawesome.com/9b2279b31c.js" crossorigin="anonymous"></script>
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
{% block header %}
{% endblock %}

{% block body %}
{% endblock %}

{% block footer %}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
