{% extends 'base.html.twig' %}

{% block layout %}
    {% block header %}
        {% include 'include/_navbar.html.twig' %}
    {% endblock %}
    <main>
        {% block body %}
        {% endblock %}
    </main>
    {% block footer %}
        {% include 'include/_footer.html.twig' %}
    {% endblock %}
{% endblock %}
