{% extends 'layout_admin.html.twig' %}
{% block title %}Abonnement{% endblock %}
{% block body %}
    <div class="container">
        <h1 class="text-center m-5">Les tarifs d'abonnement</h1>

        <table class="table">
            <thead>
            <tr>
                <th>1 mois</th>
                <th>6 mois</th>
                <th>12 mois</th>
                <th>Action</th>

            </tr>
            </thead>
            <tbody>
            {% for subscription in subscriptions %}
                <tr>
                    <td>{{ subscription.oneMonth }}€</td>
                    <td>{{ subscription.sixMonth }}€</td>
                    <td>{{ subscription.oneYear }}€</td>
                <td>
                    <a href="{{ path('admin_sub_edit', {'id': subscription.id}) }}" class="btn btn-gold"><i class="fas fa-pencil-alt mr-2"></i>Modifier</a>
                </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Aucun tarif trouvé</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
{% endblock %}