<form method="post" action="{{ path('admin_user_delete', {'id': user.id}) }}"
      onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cet utilisateur ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button class="btn btn-dark m-5"><i class="far fa-times-circle"></i> Supprimer</button>

</form>
