{{ form_start(form) }}
{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}
    {{ form_widget(form) }}
    <div class="d-flex justify-content-center">
        <button class="btn btn-gold">{{ button_label|default('Enregistrer') }}</button>
    </div>
{{ form_end(form) }}
