{% extends 'layout.html.twig' %}

{% block title %}Créer un compte{% endblock %}

{% block body %}
    <div class="container-xl container-lg container-fluid blockSubscribe">
        <h1 class="mt-3 mb-4 text-center">Créer un compte</h1>
        <div class="border-gold p-4 mb-5">
            {{ include('user/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
