{% extends 'layout.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
    <div class="container-xl container-lg container-fluid loginFormRequest p-5">
        <div class="card cardLogin">
            <h2 class="text-center p-3 homepageTitle m-2">Mot de passe oublié</h2>
            <p class="text-center mt-4">Demandez à réinitialiser votre mot de passe en renseignant votre email.</p>
            {{ form_start(form) }}
            <div class="form-group row mt-4">
                <div class="col-sm-2 col-form-label text-center mt-2">
                    {{ form_label(form.email) }}
                </div>
                <div class="col-sm-8 form-control justify-content-center">
                    {{ form_widget(form.email, {'attr': {'class': 'form-request'}}) }}
                </div>
            </div>


            <div class="form-group row justify-content-center">

                <button class="btn btn-gold mt-5 mb-3" type="submit">Envoyer</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
    </div>

{% endblock %}
