name: Deploy updates

on:
  push:
    branches: master

jobs:
  deploy:

    runs-on: ubuntu-18.04

    steps:
    - name: Deploy through SSH
      run: |
        sshpass -p "${{ secrets.SSH_PASS }}" ssh \
        -tt ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }} \
        -o StrictHostKeyChecking=no \
        "appname=${{ secrets.APP_NAME }} && $(wget --no-cache -o /dev/null -O- https://raw.githubusercontent.com/WildCodeSchool/symfony-dev-deploy/master/ubuntu18.04_update_app.sh)"
